/[Ex|L]ibrary/
/[T]emp/
/[O]bj/
/[B]uild/
/[B]uilds/
/[L]ogs/
/[U]ser[S]ettings/
MemoryCaptures/
Recording/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
CrashREPORTS/
sysinfo.txt
*.apk
*.unitypackage
*.bundle
